body {
    font-size: 16px;
    margin: 0;
    background-color: rgb(255, 255, 240);
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}

::selection {
    color: rgb(255, 255, 240);
    /* background: #17506e; */
    background: #17616e;
}
@font-face {
    font-family: "myfont";
    src: url("https://ryota70th.github.io/rockwell-extra-bold.ttf") format("truetype");
}
/* 初期状態は隠す */
header.hidden {
    transform: translateY(-75px); /* ヘッダーを上に隠す */
}

/* スクロールダウン時に表示 */
header:not(.hidden) {
    transform: translateY(0); /* ヘッダーを下に表示 */
    transition: transform 0.4s; /* アニメーションを追加 */
}

header {
    background-color: #153A4C;
    color: #f3f3f3;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: transform 0.4s 0s;
    font-family: "myfont";
}

.container {
    padding-top: 120px;
}

.name {
    font-size: 50px;
    line-height: 75px;
    font-family: "myfont";
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 30px;
}


li span {
    color: red;
    font-weight: bold;
}

.content {
    margin-bottom: 30px;
    margin-right: 30px;
    float: left;
}

.click-icon {
    font-size: 50px;
    color: #153A4C;
    letter-spacing: 10px;
}

.click-icon:hover {
    filter: drop-shadow(0px 0px 5px rgba(160, 160, 160, 0.7));
}

.click-icon:active {
    position: relative;
    top: 1px;
}

.clearboth {
    clear:both;
}

.video {
    margin: 0 auto;
    width: 640px;
    height: 360px;
    padding: 0 30px;
}
.section-title {
    font-size: 42px;
    border-bottom: 5px solid #292929;
    width: 400px;
    margin: 20px 0px;
    font-weight: bold;
}

.main li {
    margin-bottom: 5px;
}

.main li a:link {
    color: rgb(22, 147, 243);
    background-color: transparent;
    text-decoration: none;
}

.main li a:visited {
    color: rgb(22, 147, 243);
    background-color: transparent;
    text-decoration: none;
}

.main li a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    background-color: #404040;
    color: #f3f3f3;
    height: 50px;
    text-align: center;
}

.pad-p {
    padding: 14px;
}

/* メニューコンテナ全体のスタイル */
.menu-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* メニューボタンのスタイル */
.menu-button {
    display: block;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
}

/* メニューバーのスタイル */
.bar {
    display: block;
    width: 50px;
    height: 6px;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #f3f3f3;
    transition: 0.4s;
}

/* メニューボタンがチェックされた場合の1つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-7px, 16px);
    background-color: #153A4C;
}

/* メニューボタンがチェックされた場合の2つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(2) {
    opacity: 0;
}

/* メニューボタンがチェックされた場合の3つ目のバーのアニメーション */
#menu-toggle:checked ~ .menu-button .bar:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -16px);
    background-color: #153A4C;
}

/* メニュートグルのスタイル */
#menu-toggle {
    display: none;
}

/* メニューのスタイル */
.menu {
    position: fixed;
    top: 0;
    right: -400px; /* メニューを右からスライドインさせるための出る幅を調整 */
    width: 400px; /* メニューの幅を設定 */
    height: 200vh; /* 画面の高さに合わせる */
    background-color: #f3f3f3;
    transition: 0.4s;
    z-index: 1;
    overflow-y: auto;
}
/* メニュートグルがチェックされた場合のメニューの表示アニメーション */
#menu-toggle:checked ~ .menu {
    right: 0; /* メニューを表示させるために right を 0 に変更 */
}

/* メニュー内のリストのスタイル */
.menu ul {
    list-style: none;
    padding: 80px 40px;
}

/* メニュー内リストのリンクのスタイル */
.menu ul li a {
    text-decoration: none;
    color: #153A4C;
    font-size: 30px;
    display: block;
    padding: 30px 0;
    transition: 0.2s;
}

/* メニュー内リストのリンクのホバー時のスタイル */
.menu ul li a:hover {
    color: #bf7497;
}
